body {
margin: 0px;
padding: 0px;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #d8eaab;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Shrikhand', cursive;
}

body {
  background-color: #f8f7ff;
  font-family: 'Gantari', sans-serif;
}

.logo {
  height: 200px;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0 20px;
}

.nav li a {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3 ease 0%;
  color: #96d289;
}

.nav li a:hover{
  color: #fff;
}

.button1{
  background-color: white;
  font-size: 16px;
  border-color: #b7e4c7;
  border-radius: 50px;
  padding: 9px;
  transition: all 0.3s ease 0;
  position: absolute;
  top: 170%;
  right: 55px;
}

.button2{
  background-color: white;
  font-size: 16px;
  border-color: #b7e4c7;
  border-radius: 50px;
  padding: 9px;
  transition: all 0.3s ease 0;
  position: absolute;
  top: 160%;
  right: 55px;
}


button:hover{
  background-color: #e9f5db;
}

desc {
  text-align: center
}

section {
  text-align: center;
  margin-top: 60px; 
}

section img {
  height: 250px;
  width: 250px;
  border-style: groove;
  border-color: #d6ccc2;
}

section div {
  height: 350px;
  width: 250px;
  display: inline-block;
  text-align: center;
}

footer {
  text-align: center;
  justify-content: center;
  background-color: #d8eaab;
  display: flex;
  padding: 40px;
  height: 120px;
}

p#title-text{
  text-align:center;
}
p#intro {
  text-align: center;
  padding: 0px 50px 0px 50px
}

div#content {
  text-align: left;
  padding: 0px 40px 0px 40px
}

.illegalminingp1{
  height: 300px;
  width: 500px;
  border-radius: 30px;
}

.p1box1strow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  padding: 50px;
}

.defbox1{
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin-left: 20px;
  width: 40%;
  border-radius: 30px;
  text-align: justify;
  display: inline-block;
}

.p1box1{
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin-left: 20px;
  width: 40%;
  border-radius: 30px;
  display:inline-block;
}

.p1box2ndrow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  padding: 50px;
}

.p1box2{
  border-style: solid;
  border-color: #d8eaab;
  padding: 20px;
  margin: 20px;
  width: 40%;
  border-radius: 30px;
  display: inline-block;
}

.p1box3{
  border-style: solid;
  border-color: #d8eaab;
  padding: 20px;
  margin: 20px;
  width: 40%;
  border-radius: 30px;
  display: inline-block;
}

.p2box{
  height: 300%;
  width: 100%;
}

.p2box1{
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
}

.p2box2{
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
}

.p2box3{
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
}
