* {
  box-sizing: border-box;
}

header {
  background-color: #adc178;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Shrikhand', cursive;
}

body {
  font-family: 'Gantari', sans-serif;
  background-image: url("images/mountain.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  height: 200px;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0 20px;
}

.nav li a {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3 ease 0%;
  color: #4F2217;
}

.nav li a:hover{
  color: #fff;
}

.button1, .button2, .button3, .button4{
  background-color: white;
  font-size: 16px;
  border-color: #b7e4c7;
  border-radius: 50px;
  padding: 9px;
  transition: all 0.3s ease 0;
  position: relative;
  margin-bottom: 20px;
}

.button1{
  top: 155%;
  left: 82%;
}

.button2{
  top: 190%;
  left: 86%;
}

button:hover{
  background-color: #e9f5db;
}

section {
  text-align: center;
  margin-top: 60px; 
}

section img {
  height: 250px;
  width: 250px;
  border-style: groove;
  border-color: #d6ccc2;
}

section div {
  height: 350px;
  width: 250px;
  display: inline-block;
  text-align: center;
}

footer {
  text-align: center;
  justify-content: justify;
  background-color: #adc178;
  padding: 10px;
  font-size: 13px;
  height:100%;
}

p#title-text{
  text-align:center;
}

div#content {
  text-align: left;
  padding: 0px 40px 0px 40px
}

.illegalminingp1{
  height: 300px;
  width: 470px;
  border-radius: 30px;
}

.p1box1strow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  padding: 50px;
}

.defbox1{
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin-left: 20px;
  width: 40%;
  border-radius: 30px;
  text-align: justify;
  display: inline-block;
}

.p1box1{
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin-left: 20px;
  width: 40%;
  border-radius: 30px;
  display:inline-block;
}

.p1box2ndrow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  padding: 50px;
  margin-left: 20px;
}

.p1box2, .p1box3{
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #d8eaab;
  padding: 20px;
  margin: 20px;
  width: 40%;
  border-radius: 30px;
  display: inline-block;
}

.p2box{
  height: 300%;
  width: 100%;
}

.deforestimg{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  padding: 20px;  
}

.deforestationdef, .deforestationdef2{
  height: 300px;
  width: 540px;
  border-radius: 30px;
} 

.p2box1, .p2box2, .p2box3{
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
}

.intro {
  margin: auto; 
  text-align: center;
  width: auto;
}

.p3box{
  height: 300%;
  width: 100%;
}

.p3box1{
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #d8eaab;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
}

.pollutionimg{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  padding: 20px;  
}  

.airpollution, .waterpollution{
  height: 300px;
  width: 540px;
  border-radius: 30px;
}

.p3box2ndrow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: justify;
  padding: 50px;
  margin: -50px;
}

.p3box2, .p3box3{
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #d8eaab;
  padding: 20px;
  margin: 20px;
  width: 45%;
  border-radius: 30px;
  display: inline-block;
}

.p3box4{
  background-color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-color: #d8eaab;
  padding: 20px;
  margin: 20px;
  width: 45%;
  border-radius: 30px;
}
  .col2, .col4{
  float: right;
  margin-top: -108%;
  margin-right: 25px;
}

.plant_e, .cat4{
  margin-top: 45%;
}
